*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

section div img{
    display:block;
    margin:auto;
}

section > div{
  display: inline-block;
  margin: 5px;
  padding: 2px;
  border: 5px solid green;
}
section.grid{
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
    gap: 10px;
}


@media screen and (min-width: 771px){
    section >  div{
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        padding: 0px;
    }
    section.grid{
        grid-template-columns: 1fr 1fr;
    
    }
    section div img{
        width: 100%;
        height: 35vw;   
        border-radius: 50%; 
        }
        .label{
            position: absolute;
            bottom: 0px;
            left: 50%;
            padding-top: 10px;
            padding-bottom: 10px;
            transform: translateX(-50%);
            width:100%;
            background-color: rgb(0, 0, 0);
            color: orange;
        }
    }
    @media screen and (min-width: 997px){

        section div, section div img{
            width: 100%;
            height: auto;
            border-radius: 0%; 
            }
            section div img{
                height: 23vw;
            }
        .label{
            position: static;
            padding: 0;
            transform: none;
            background: none;
            color: inherit;
        }
        .grid > div:nth-child(3n){
            grid-column: 1/span 2;
            }
    }
    @media (prefers-color-scheme: dark) {
        .label{
            background-color: rgb(0, 0, 0);
            color: orange;
        }
      }
    @media (prefers-reduced-motion: reduce) {
        a#top  {
          animation: none;
        }
      }
      
      /*
        If the browser understands the media query and the user
        explicitly hasn't set a preference, then use animations on buttons.
      */
      @media (prefers-reduced-motion:   no-preference) {
        a#top {
          /* `vibrate` keyframes are defined elsewhere */
          transition: scale 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation:PopUp  0.3s linear infinite both;
        }
        @keyframes PopUp {
            0%{scale:100%}
            50%{
                scale:125%;
            }

            100%{scale:75%}
        }
    }


















/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */